body{
    margin: 50px;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

p{
    font-family: sans-serif;
    color: lightsalmon;
    text-align: center;
    font-size: 30px;
}
a{
    color: rgb(255, 0, 34);
    text-decoration: none;
}
a:hover{
    color: black;

}
#neha-learning-p-id{
    color: rgb(76, 35, 16);
    font-weight: bolder;
    font-size: 30px;
    font-family:'firasans',sans-serif ;
}
#neha-learning-p-end-id{
    font-size: 40px;
}
